*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    overflow-x: hidden;
    background-color: #EAE8E1 !important;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.container{
  padding: 0 !important;
  min-width: 100vw;
}
body::-webkit-scrollbar{
  display: none;
}

.nav-link{
    color: #fff !important;
    font-weight: 600 !important;
}
.logo-icon{
    width: 3.5rem;
    height: 3.5rem;
    border: 2px solid #3fee3f;
    display: grid;
    place-items: center;
    border-radius: 50%;
    margin-right: 1rem;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon i{
    color: #fff;
    padding: 10px;
    background-color: #3fee3f;
    border-radius: 50%;
}

.logo-content{
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
 }
 .btn{
    color: #fff !important;
    font-weight: 500 !important;
 }
 .btn-success{
    background-color: #099109 !important;
    border: none !important;
 }

 .navbar{
    z-index: 100 !important;
 }
 

/* footer styling */
.main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}


 .findjobForm{
    position: relative;
    top: 80vh;
 }
 .jobs-container{
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    z-index: -1;
 }
 .user-details{
    width: 18vw;
    height: 20rem;
    margin-top: 1rem;
    position: static;
    border-radius: 1rem;
    background-color: #fff;
 }
 .jobs{
    width: 55vw;
    padding: 1rem;
    overflow-x: hidden;
 }

 .profile-image{
   width: 100%;
   height: 8rem;
   display: grid;
   place-items: center;
   border-radius: 1rem 1rem 0 0;
 }
 .profile-image img{
   width: 80px;
   height: 80px;
   border-radius: 50%;
 }
 .profile-content{
   padding: 1rem;
   text-align: center;
 }
 .profile-content h5{
   font-size: 1rem;
   font-weight: bold;
 }
 .background-profile-image{
   width: 100%;
   height: 4rem;
   background-color: #2b0132;
   border-radius: 1rem 1rem 0 0;
 }
 .image{
   width: 100%;
   height: 4rem;
   display: grid;
   place-items: center;
 }
 .image img{
   margin-top: -4rem;
   border: 2px solid #fff;
 }
 .card{
   border: none !important;
 }
 .card-title{
   font-size: 1.2rem !important;
   font-weight: bold;
 }
 .card-title a{
   text-decoration: none;
 }
 .card-title a:hover{
   text-decoration: underline;
 }
 .card-text{
   margin-left: 4rem !important;
 }
 .posted-profile{
   display: flex;
 }
 .posted-profile img{
   width: 3rem;
   height: 3rem;
   border-radius: 50%;
   margin-right: 1rem;
 }
 .jobTitle p{
   margin-top: -10px;
   margin-left: 0 !important;
 }
 .viewJob{
   margin: 3rem auto;
   width: 60vw !important;
 }
 .applicantImage input{
  width: 14vw !important;
}
.apply-form-container, .form-container{
  width: 60vw;
  background-color: #fff;
  border-radius: 1rem;
  padding: 2rem;
}
.applicants-container{
  width: 80vw;
  background-color: #fff;
  border-radius: 1rem;
  padding: 2rem;
}
.flex{
  width: 50vw;
  display: flex;
  justify-content: space-between;
}
.flex input{
  width: 40vw;
}

 @media(max-width: 854px){
  #navbarNavAltMarkup{
    background-image: url();
    background-image: url("https://wallpaperaccess.com/full/2579546.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

  .form-container{
    width: 100%;
  }
 
  .nav-link{
    display: inline !important;
  }
  .applicants-container table{
    width: 100%;
    font-size: 10px;
  }
  .btn{
    padding: 5px !important;
  }
  .viewJob{
    margin: 1rem auto;
  }
  .applicants-container{
    width: 100vw !important;
  }

   .user-details{
      display: none;
   }
   .jobs-container{
      width: 100%;
      padding: 0.5rem;
   }
   .jobs{
      width: 100%;
      padding: 1rem;
      overflow-x: hidden;
   }
   .flex{
    width: 100%;
  }
  .flex input{
    width: 70%;
  }

   .card-title{
      font-size: 1rem !important;
   }
   .logo-content{
      font-size: 1.5rem;
      font-weight: 700;
      color: #fff;
   }
   .findjobForm{
      display: none;
   }

   .viewJob{
      width: 100% !important;
    }
    .apply-form-container{
      width: 100% !important;
      background-color: #fff;
      border-radius: 1rem;
      padding: 2rem;
    }
    .applicantImage input{
      width: 60vw !important;
    }
 }

 @media(max-width: 820px){
  #navbarNavAltMarkup{
    background-image: url();
    background-image: url("https://wallpaperaccess.com/full/2579546.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
  .viewJob{
    margin: 1rem auto;
  }
  .applicantImage input{
    width: 65vw !important;
  }
  .applicants-container{
    width: 100vw !important;
  }
 }
 
/* Apply form stylings */

 .applicantImage{
   width: 100%;
   height: 10rem;
   display: grid;
   place-items: center;
 }
 .applicantImage img{
   width: 150px;
   height: 150px;
   border-radius: 50%;
   border: 5px solid gray;
 }
 .storedInfo{
   width: 100%;
   display: grid;
   place-items: center;
   text-align: center;
 }
 .storedInfo h2{
   font-size: 1.3rem;
   font-weight: bold;
 }
 .storedInfo .name{
  font-size: 1.3rem;
  font-weight: bold;
 }

 /* signup form design */
.profileImg{
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.alert{
  z-index: 100 !important;
  position: absolute !important;
  top: 70px !important;
  right: 0rem !important;
}

/* applicants Container */


.navbar-toggler{
 color: transparent !important;
 border: none !important;
}
.navbar-toggler:hover{
  border: none !important;
}
#menu{
  color: #fff !important;
  font-size: 2rem !important;
}

.error-container{
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.error-container h1{
  font-size: 3rem;
}
