<%- layout("./layouts/boilerplate.ejs") %>
<body>
    <div class="form-container">
        <form action="/signup" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="applicantImage mb-5"  style="text-align-last: center;">
                <img src="https://static.vecteezy.com/system/resources/previews/000/662/785/original/man-face-cartoon-vector.jpg">
                <input type="file" class="mt-2 form-control col-2" required name="user[userImage]">
            </div>
            <div class="mb-3">
                <label for="user[name]" class="form-label">Enter your name</label>
                <input type="text" placeholder="enter your name" class="form-control" required name="user[name]">
            </div>
            <div class="mb-3">
                <label for="user[role]" class="form-label">Enter your role</label>
                <input type="text" placeholder="enter role" class="form-control" required name="user[role]">
            </div>
            <div class="mb-3">
                <label for="user[username]" class="form-label">Enter your email</label>
                <input type="email" placeholder="enter email Id" class="form-control" required name="user[username]">
            </div>
            <div class="mb-3">
                <label for="user[city]" class="form-label">Enter your city</label>
                <input type="text" placeholder="enter your name" class="form-control" required name="user[city]">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Create Password</label>
                <input type="password" placeholder="enter password" class="form-control" required name="password">
            </div>

            <button class="btn btn-primary">Sign Up</button>
        </form>
    </div>
</body>