<%- layout("./layouts/boilerplate.ejs") %>
<body>
    <div class="form-container " style="display: grid; place-items: center;">
        <form method="post" action="/updateProfile/<%= currUser._id %>" class="needs-validation" novalidate >
            <div class="applicantImage mb-5"  style="text-align-last: center;">
                <img src="<%= currUser.userImage.url %>">
            </div>
            
        </form>
        <form method="post" action="/user/<%= currUser._id %>?_method=DELETE">
            <h3>Are your sure ?</h3>
            <button class="btn btn-success">Delete Account</button> <br> <br>
            <a href="/profile" class="btn btn-danger" style="text-decoration: none; color: #fff;">Cancel</a>
        </form>

    </div>

</body>