<footer>
    <div class="f-info">
       <div class="f-info-socials">
       <a href=""><img src="https://static.vecteezy.com/system/resources/previews/016/716/481/original/facebook-icon-free-png.png" alt=""></i></a>
        <a href=""><img src="https://pngimg.com/uploads/instagram/instagram_PNG10.png" alt=""></i></a>
        <a href="https://www.linkedin.com/in/shyamkrsh/"><img src="https://pngimg.com/uploads/linkedIn/linkedIn_PNG8.png" alt=""></i></a>
        <a href=""><img src="https://logospng.org/download/whatsapp/logo-whatsapp-verde-icone-ios-android-1536.png" alt=""></i></a>
       </div>
       <div style="text-align: center;">&copy; Job Board Public Portal</div>
       <div class="f-info-links">
        <a href="/privacy">Privacy  </a>
        <a href="/terms">Terms  </a>
        <a href="/about">About</a>
       </div>
    </div>
</footer>